extends layout

block content
    h1.m-4 Settings
    form(action="/settings" method="post")
        h3.m-2 Algorithm settings:
        .mb-3 
            label.form-label(for="iterations") Iterations: 
            input.form-control(type="number" name="iterations" id="iterations" value=config.optimization.iterations, required)
        .mb-3
            label.form-label(for="temperature") Temperature:
            input.form-control(type="number" name="temperature" id="temperature" value=config.optimization.initialTemperature, required)
        .mb-3
            label.form-label(for="coolingRate") Cooling Rate:
            input.form-control(type="number" name="coolingRate" id="coolingRate" value=config.optimization.coolingRate, required)
        .mb-3
            label.form-label(for="earlyStop") Enable Early Stop:
            input.ml-3(type="checkbox" name="earlyStop" id="earlyStop" checked=config.optimization.earlyStop)
        h3.m-2 Seating settings:
        .mb-3
            label.form-label(for="defaultSeatRadius") Default Seat Radius:
            input.form-control(type="number" name="defaultSeatRadius" id="defaultSeatRadius" value=config.seating.defaultSeatRadius, required)
        .mb-3
            label.form-label(for="defaultSeatMargin") Default Seat Margin:
            input.form-control(type="number" name="defaultSeatMargin" id="defaultSeatMargin" value=config.seating.defaultSeatMargin, required)
        .mb-3
            label.form-label(for="defaultTableHeight") Default Table Height:
            input.form-control(type="number" name="defaultTableHeight" id="defaultTableHeight" value=config.seating.defaultTableHeight, required)
        .mb-3
            label.form-label(for="defaultMinTableWidth") Default Minimum Table Width:
            input.form-control(type="number" name="defaultMinTableWidth" id="defaultMinTableWidth" value=config.seating.defaultMinTableWidth, required)
        .mb-3
            label.form-label(for="defaultMargin") Default Margin:
            input.form-control(type="number" name="defaultMargin" id="defaultMargin" value=config.seating.defaultMargin, required)
        .mb-3
            label.form-label(for="defaultTableSpacingX") Default Table Spacing X:
            input.form-control(type="number" name="defaultTableSpacingX" id="defaultTableSpacingX" value=config.seating.defaultTableSpacingX, required)
        .mb-3
            label.form-label(for="defaultTableSpacingY") Default Table Spacing Y:
            input.form-control(type="number" name="defaultTableSpacingY" id="defaultTableSpacingY" value=config.seating.defaultTableSpacingY, required)
        button.btn.btn-primary(type="submit") Save Settings
